.card {
  background-color: rgba(70, 69, 69, 0.5);
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  font-size: 14px;
}

.badge-dot {
  width: 8px;
  height: 8px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-right: 5px;
}

.badge {
  color: white;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.stock-badge {
  background-color: transparent;
  border: #4caf50 1px solid;
  border-radius: 3px;
  color: #4caf50;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 3px;
}

.card-header-right {
  display: flex;
  align-items: center;
}

.quantity-input {
  width: 50px;
  padding: 10px 5px;
  border: transparent;
  border-radius: 5px;
  background-color: #363c52;
  color: #ffffff;
}

.card-image {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

.card-body {
  margin-top: 10px;
  flex: 1;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card-price {
  font-size: 16px;
  margin: 5px 0;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}

.card-description {
  font-size: 14px;
  color: #b0b0b0;
  margin: 10px 0;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.card-button {
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  max-height: 40px;
  max-width: 100px;
}

.card-button.details-button {
  background-color: #35394b;
}

.card-button.add-button {
  background-color: #2b2b33;
  display: flex;
  align-items: center;
  width: 80px;
}

.card-button:hover {
  background-color: #242b3a;
}
.card-button.add-button .cart-icon {
  margin-left: 5px;
}

.cart-icon {
  max-height: 30px;
  border-radius: 5px;
  padding: 5px;
  background-color: #26273a;
}
