.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  opacity: 0.9;
  background-position: center;
  padding: 20px;
}

.title-app {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.top {
  display: flex;
  margin-top: 20px;
  padding: 5px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  width: 100%;
  margin-top: 50px;
}
.box-container{
  display: flex;
}