.menu-header {
  background-color: #2c2f48;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.menu-logo img {
  height: 40px;
}

.header-divider {
  width: 1px;
  height: 40px;
  background-color: #404364;
  margin: 0 10px;
}

.menu-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-nav ul li {
  margin: 0 5px;
}

.menu-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-nav ul li a:hover {
  background-color: #404364;
}

.menu-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.currency-selector,
.cart,
.sign-in {
  margin-left: 20px;
}

.cart-icon {
  width: 24px;
}
.cart {
  display: flex;
  align-items: center;
}

.sign-in {
  color: #303141;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #39e29d;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.sign-in img.user-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-toggle img {
  height: 24px;
  width: 24px;
}

@media (max-width: 768px) {
  .menu-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-logo {
    justify-content: space-between;
    width: 100%;
  }

  .menu-nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu-nav.open {
    display: flex;
  }

  .menu-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .menu-nav ul li {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .menu-actions {
    display: none;
  }

  .menu-actions.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .mobile-menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .header-divider {
    display: none;
  }
}
